body {
    background-color:  white;
}
.header {
    box-sizing: border-box;
    width: 95%;
    height: 150px;
    border: 4px solid black;
    margin: 30px auto;
}
.rectangle-1 {
    width: 40px;
    height: 90px;
    margin: 40px 0px 0px 10px;
    display: inline-block;
    background-color: purple;
}
.rectangle-2 {
    width: 400px;
    height: 120px;
    margin-left: 70px;
    display: inline-block;
    background-color: forestgreen;
}
.circle {
    width: 120px;
    height: 120px;
    display: inline-block;
    border: blue;
    border-radius: 50%;
    background-color:cyan;
    display: inline-block;
    margin-left: 40px;
}
.main-content {
    box-sizing: border-box;
    width: 95%;
    height: 225px;
    border-style: dotted;
    margin: auto;
    margin-bottom: 30px;
}
.rectangle-3 {
    width: 90%;
    height: 120px;
    margin: 50px auto;
    background-color: lemonchiffon;
    box-shadow: 5px 5px 6px black;
}
.footer {
    box-sizing: border-box;
    width: 50%;
    height: 275px;
    border: .5px solid black;
    margin: auto;
    box-shadow: 2px 2px 4px gray;
}
.text {
    text-align: center;
    color: darkslateblue;
    padding: 70px;
    font-size: 30px;
    letter-spacing: 8px;
    font-weight: bold;
}